{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/layout_pages.css') }}">
{% endblock %}

{% block title %}Liste des dossiers{% endblock %}

{% block body %}
    {% if app.user.roles[0] is same as('ROLE_ADMIN') %}
        <div class="page_header no-print">
            <h1>Zone d'archivage de l'entreprise {{ user.enterprise }} </h1>
            <div>
                <a href="{{ path("app_admin_index") }}">Accueil</a> <span>/</span> <a
                        href="{{ path('app_admin_category_index', {'user_login': user.login}) }}"> Dossier
                    de {{ user.enterprise }}</a>
            </div>
        </div>
    {% endif %}
    {% if app.user.roles[0] is same as('ROLE_USER') %}
        <div class="page_header no-print">
            <h1>Zone d'archivage de l'entreprise {{ user.enterprise }} </h1>
            <div>
                <a href="{{ path("app_user_category_index") }}">Accueil</a>
            </div>
        </div>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Nom des dossiers</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            {% if app.user.roles[0] is same as('ROLE_ADMIN') %}
                <tr onclick="location.href='{{ path('app_admin_file_index', {'user_login': user.login, 'category_label': category.label } )}}';">
            {% endif %}
            {% if app.user.roles[0] is same as('ROLE_USER') %}
                <tr onclick="location.href='{{ path('app_category_show', {'category_label': category.label } ) }}';">
            {% endif %}
                <td> <i class="fa-solid fa-folder-open"></i> {{ category.label }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de dossier.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
