{% extends 'base.html.twig' %}

{% block title %}File index{% endblock %}

{% block body %}
    <h1>File index</h1>
    {{ user.login }}

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Path</th>
            <th>Format</th>
            <th>Created_at</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td>{{ file.id }}</td>
                <td>{{ file.path }}</td>
                <td>{{ file.format }}</td>
                <td>{{ file.created_at ? file.created_at|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    Télécharger
                    {% if app.user.roles[0] is same as('ROLE_ADMIN') %}
                        {{ include('file/_delete_form.html.twig') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_file_new') }}">Create new</a>
{% endblock %}
