<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Réinitialiser votre mot de passe{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/authentification/authentification.css') }}">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body id="main_body">

{% for flash_error in app.flashes('reset_password_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}
<div class="container-auth">
    <h1>Réinitialiser votre mot de passe</h1>
    <div class="container-auth-inside-input">
        {{ form_start(requestForm, { 'attr': {'class': 'padding-bottom-reinit-mdp'} }) }}
        {{ form_row(requestForm.email, { 'attr': {'class': 'input-long'} }) }}
        <div>
            <small>
                Entrez votre adresse mail et nous vous enverrons
                un lien pour réinitaliser votre mot de passe.
            </small>
        </div>
        <div class="justify-content">
            <button class="btn-long btn-primary">Envoyer le mail de réinitialisation du mot de passe</button>
        </div>
        {{ form_end(requestForm) }}
    </div>
</div>
</body>