<link href="{{ asset('css/navbar.css') }}" rel="stylesheet"/>

<nav>
    <div class="navbar">
        <div>
            <a href="{{ path('app_user_index') }}" class="navbar-brand mobile-invisible">
                <img src="{{ asset('img/logo/logo_temma_blanc.png') }}" alt="logo">
            </a>
            <a href="{{ path('app_user_index') }}" class="mobile-visible"><i class="fa-solid fa-house"></i></a>
        </div>
        <ul class="navbar-action">
            <li>
                <i class="fa-solid fa-question"></i>
            </li>
            <li>
                <i class="fa-solid fa-gear"></i>
            </li>
            <li class="navbar-action__span">
                <i class="fa-solid fa-circle-user"></i>
                <span>{{ app.user.login }}</span>
            </li>
            <li class="navbar-submenu-parent">
                <i class="fa-solid fa-angle-down"></i>
                <ul class="navbar-submenu">
                    <li>
                        <a href="">
                            <i class="fa-solid fa-user"></i>
                            <span>Profil</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa-solid fa-lock"></i>
                            <span>Changer de mot de passe</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}">
                            <i class="fa-solid fa-power-off"></i>
                            <span>Déconnexion</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>