{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user/user.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <hr>
    <button class="btn-user-add">
        <a href="{{ path('app_user_new') }}">
            <i class="fa-solid fa-plus color-white"></i>
            Nouvel utilisateur
        </a>
    </button>

    <div class="divTable">
        <div class="divTableRow bold">
            <div class="divTableCell">Entreprise</div>
            <div class="divTableCell responsive-user">Civilité</div>
            <div class="divTableCell responsive-user">Prénom</div>
            <div class="divTableCell responsive-user">Nom</div>
            <div class="divTableCell">Email</div>
        </div>
        {% for user in users %}
                <div class="divTableRow">
                    <div class="divTableCell padding-right-after-cut-word cut-txt-overflow"><a href="{{ path('app_admin_category_index', {'user_login': user.login}) }}" class=" color-white">{{ user.enterprise }}</a></div>
                    <div class="divTableCell responsive-user">{{ user.civility }}</div>
                    <div class="divTableCell padding-right-after-cut-word cut-txt-overflow responsive-user">{{ user.firstname }}</div>
                    <div class="divTableCell padding-right-after-cut-word cut-txt-overflow responsive-user">{{ user.lastname }}</div>
                    <div class="divTableCell">&nbsp;{{ user.email }}</div>
                </div>
        {% else %}
        {% endfor %}
    </div>
{% endblock %}
