{% extends 'base.html.twig' %}

{% block title %}Détails du client {{ user.enterprise }}{% endblock %}

{% block body %}
    <h1>Détail du client</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Enterprise</th>
            <td>{{ user.enterprise }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Civilité</th>
            <td>{{ user.civility }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ user.lastname }}</td>
        </tr>
        <tr>
            <th>Login</th>
            <td>{{ user.login }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_category_index') }}" class="no-print">Retour</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="no-print">Editer</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
